//mystylesheet.css

div.none {
}

div.fragment {
        padding: 12px 12px 12px 12px;
        margin: 4px 8px 4px 2px;
	//background-color: pink;
	background-color: #FBFCFD;
	border: 1px solid #C4CFE5;
        line-height: 150%;
        font-family: monospace, fixed;
        font-size: 120%;
}

//EOF
